In [ ]:
import sysconfig

from pyspark.sql import SparkSession

In [ ]:
spark = (
    SparkSession
        .builder
        .remote("sc://localhost:15002")
        .appName("hive")
        .config("hive.metastore.uris", "thrift://localhost:9083")
        .enableHiveSupport()
        .getOrCreate()
)

# Load the Spark Connect jar
spark_connect_jar = f"{sysconfig.get_paths()['purelib']}/pyspark/jars/spark-connect_2.13-4.0.1.jar"
spark.addArtifacts(spark_connect_jar)

/Users/mathiasgredal/git/Boston-Transport-Department/.venv/lib/python3.10/site-packages/pyspark/sql/connect/conf.py:64: UserWarning: Failed to set spark.sql.catalogImplementation to Some(hive) due to [CANNOT_MODIFY_CONFIG] Cannot modify the value of the Spark config: "spark.sql.catalogImplementation".
See also 'https://spark.apache.org/docs/latest/sql-migration-guide.html#ddl-statements'. SQLSTATE: 46110
  warnings.warn(warn)

In [4]:
spark.sql("CREATE TABLE IF NOT EXISTS students (name VARCHAR(64), age INT, gpa DECIMAL(3, 2))")
spark.sql("INSERT INTO students (name, age, gpa) VALUES ('John Doe', 20, 3.5)")
mydf = spark.sql("SELECT * FROM students LIMIT 5")
mydf.show()

+--------+---+----+
|    name|age| gpa|
+--------+---+----+
|John Doe| 20|3.50|
|John Doe| 20|3.50|
+--------+---+----+