In [1]:
import sysconfig

from pyspark.sql import SparkSession

In [22]:
spark = (
    SparkSession
        .builder
        .remote("sc://localhost:15002")
        .appName("hive")
        .enableHiveSupport()
        .config("hive.metastore.uris", "thrift://localhost:9083")
        .config("spark.sql.warehouse.dir", "/user/hive/warehouse")
        .getOrCreate()
)

# Load the Spark Connect jar
spark_connect_jar = f"{sysconfig.get_paths()['purelib']}/pyspark/jars/spark-connect_2.13-4.0.1.jar"
spark.addArtifacts(spark_connect_jar)

In [57]:
spark.sql("CREATE EXTERNAL TABLE IF NOT EXISTS students (name VARCHAR(64), age INT, gpa DECIMAL(3, 2)) STORED AS PARQUET LOCATION 'hdfs://hdfs-cluster-namenode-default-0.hdfs-cluster-namenode-default.bigdata.svc.cluster.local/user/hive/warehouse/students'")
#spark.sql("INSERT INTO students (name, age, gpa) VALUES ('Hello world123456', 20, 3.5)")
#spark.sql("REFRESH TABLE students")
spark.sql("DROP TABLE students")
#spark.sql("clear cache")
#spark.sql("INSERT OVERWRITE TABLE students SELECT * FROM students;")
#mydf = spark.sql("select * from students")
#mydf.show()



#CREATE TABLE students ( name STRING, age INT, gpa DECIMAL(3,2) ) STORED AS PARQUET TBLPROPERTIES ('transactional'='true') LOCATION 'hdfs://hdfs-cluster-namenode-default-0.hdfs-cluster-namenode-default.bigdata.svc.cluster.local/user/hive/warehouse/students2';
#INSERT OVERWRITE TABLE students SELECT * FROM students;
#spark.sql("ALTER TABLE students3 SET TBLPROPERTIES('transactional'='true')")

DataFrame[]