In [1]:
import sysconfig

from pyspark.sql import SparkSession

In [2]:
spark = (
    SparkSession
        .builder
        .remote("sc://spark-connect-server:15002")
        .appName("hive")
        .enableHiveSupport()
        .config("hive.metastore.uris", "thrift://hive-metastore:9083")
        .config("spark.sql.warehouse.dir", "/user/hive/warehouse")
        .getOrCreate()
)

# Load the Spark Connect jar
# spark_connect_jar = f"{sysconfig.get_paths()['purelib']}/pyspark/jars/spark-connect_2.13-4.0.1.jar"
# spark.addArtifacts(spark_connect_jar)
spark.addArtifacts("/stackable/spark/connect/spark-connect-4.0.1.jar")

/stackable/spark/python/pyspark/sql/connect/conf.py:64: UserWarning: Failed to set spark.sql.catalogImplementation to Some(hive) due to [CANNOT_MODIFY_CONFIG] Cannot modify the value of the Spark config: "spark.sql.catalogImplementation".
See also 'https://spark.apache.org/docs/latest/sql-migration-guide.html#ddl-statements'. SQLSTATE: 46110
  warnings.warn(warn)
/stackable/spark/python/pyspark/sql/connect/conf.py:64: UserWarning: Failed to set spark.sql.warehouse.dir to Some(/user/hive/warehouse) due to [CANNOT_MODIFY_CONFIG] Cannot modify the value of the Spark config: "spark.sql.warehouse.dir".
See also 'https://spark.apache.org/docs/latest/sql-migration-guide.html#ddl-statements'. SQLSTATE: 46110
  warnings.warn(warn)

In [7]:
#spark.sql("CREATE EXTERNAL TABLE IF NOT EXISTS weather_data (name VARCHAR(64), age INT, gpa DECIMAL(3, 2)) STORED AS PARQUET LOCATION 'hdfs://hdfs-cluster-namenode-default-0.hdfs-cluster-namenode-default.bigdata.svc.cluster.local/user/hive/warehouse/weater_data'")
#spark.sql("INSERT INTO students (name, age, gpa) VALUES ('Hello world123456', 20, 3.5)")
#spark.sql("REFRESH TABLE students")
# spark.sql("""WITH rides AS (
#   SELECT
#     concat_ws('|', starttime, start_station_id, end_station_id, tripduration) AS ride_id,
#     tripduration,
#     starttime
#   FROM bike_data
# ),
# wx AS (
#   SELECT
#     observation_date,
#     dry_bulb_temperature_celsius
#   FROM weather_data
# ),
# matched AS (
#   SELECT
#     r.ride_id,
#     r.tripduration,
#     r.starttime,
#     w.dry_bulb_temperature_celsius,
#     abs(
#       unix_timestamp(r.starttime, "yyyy-MM-dd'T'HH:mm:ss") -
#       unix_timestamp(w.observation_date, "yyyy-MM-dd'T'HH:mm:ss")
#     ) AS diff_seconds_to_obs,
#     row_number() OVER (
#       PARTITION BY r.ride_id
#       ORDER BY abs(
#         unix_timestamp(r.starttime, "yyyy-MM-dd'T'HH:mm:ss") -
#         unix_timestamp(w.observation_date, "yyyy-MM-dd'T'HH:mm:ss")
#       )
#     ) AS rn
#   FROM rides r
#   JOIN wx w
#     ON w.observation_date BETWEEN
#          from_unixtime(unix_timestamp(r.starttime, "yyyy-MM-dd'T'HH:mm:ss") - 3600)
#      AND from_unixtime(unix_timestamp(r.starttime, "yyyy-MM-dd'T'HH:mm:ss") + 3600)
# )
# SELECT
#   ride_id,
#   tripduration,
#   starttime,
#   dry_bulb_temperature_celsius AS matched_temp_c,
#   diff_seconds_to_obs
# FROM matched
# WHERE rn = 1;""")
#spark.sql("clear cache")
#spark.sql("INSERT OVERWRITE TABLE students SELECT * FROM students;")
# mydf = spark.sql("select * from weather_data")
# mydf.show()

mydf = spark.sql("select * from bike_data limit 10")
mydf.show()

#CREATE TABLE students ( name STRING, age INT, gpa DECIMAL(3,2) ) STORED AS PARQUET TBLPROPERTIES ('transactional'='true') LOCATION 'hdfs://hdfs-cluster-namenode-default-0.hdfs-cluster-namenode-default.bigdata.svc.cluster.local/user/hive/warehouse/students2';
#INSERT OVERWRITE TABLE students SELECT * FROM students;
#spark.sql("ALTER TABLE students3 SET TBLPROPERTIES('transactional'='true')")

+--------------------+-------------------+-------------------+--------------------+--------------------+----------------------+-----------------------+------------------+--------------------+--------------------+---------------------+---------+
|        tripduration|          starttime|           stoptime|    start_station_id|  start_station_name|start_station_latitude|start_station_longitude|    end_station_id|    end_station_name|end_station_latitude|end_station_longitude|partition|
+--------------------+-------------------+-------------------+--------------------+--------------------+----------------------+-----------------------+------------------+--------------------+--------------------+---------------------+---------+
|-5.753154655473514E7|                 ut|Ut irure qui cillum|occaecat veniam a...|ullamco esse elit...|     -9677097.79029338|    5.822139750931066E7|est in elit dolore|          quis ipsum|-5.564325299423254E7|    8443665.855954796|        0|
|              1326.0|2018-01-05T16:05:03|2018-01-05T16:27:09|                   3|Colleges of the F...|     42.34011512249236|     -71.10061883926392|               152|Ink Block - Harri...|           42.345901|           -71.063187|        0|
|               430.0|2018-01-05T16:10:14|2018-01-05T16:17:24|                  51|Washington St at ...|      42.3350989929096|     -71.07903778553009|                57|Columbus Ave at M...|  42.340542615516355|   -71.08138847914233|        0|
|               471.0|2018-01-05T16:16:45|2018-01-05T16:24:37|                 121|W Broadway at Dor...|             42.335693|             -71.045859|                63|Dorchester Ave at...|  42.344040510016356|   -71.05737626552582|        0|
|               614.0|2018-01-05T16:22:40|2018-01-05T16:32:54|                  67|MIT at Mass Ave /...|               42.3581|             -71.093198|                36|Copley Square - D...|   42.34976701008725|   -71.07732653617859|        0|
|               786.0|2018-01-05T16:26:48|2018-01-05T16:39:54|                 184|Sidney Research C...|     42.35775309465199|     -71.10393404960632|               189|           Kendall T|  42.362427842912396|   -71.08495473861694|        0|
|               571.0|2018-01-05T16:28:50|2018-01-05T16:38:21|                  60|Charles Circle - ...|     42.36075761041193|     -71.07132909824031|                23|Boston City Hall ...|            42.35892|           -71.057629|        0|
|               401.0|2018-01-05T16:36:36|2018-01-05T16:43:17|                 141|      Kendall Street|    42.363560158429884|     -71.08216792345047|                84|CambridgeSide Gal...|           42.366981|           -71.076472|        0|
|               622.0|2018-01-05T16:38:39|2018-01-05T16:49:01|                  17|Soldiers Field Pa...|     42.36514362978903|     -71.11987173557281|               180|           Mt Auburn|   42.37478628706384|   -71.13320231437683|        0|
|               473.0|2018-01-05T16:41:53|2018-01-05T16:49:46|                  70|Harvard Kennedy S...|      42.3722168027866|     -71.12188071012497|               104|Harvard Universit...|           42.380287|           -71.125107|        0|
+--------------------+-------------------+-------------------+--------------------+--------------------+----------------------+-----------------------+------------------+--------------------+--------------------+---------------------+---------+